body{
    font-family: 'Poppins', sans-serif;
    background-color: #91d2d4;
}
.font{
    font-size: 60px;
    font-weight:bold;
    margin: 5%;
    line-height: 75px;
    
}
.paragraph-font{
    font-size: 25px;
    font-weight: lighter;
    font-family:Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: 5%;
}
.order-food-button{
    
    font-size: 20px;
    color: white;
    font-weight:400;
    text-decoration: none;
    margin: 5%;
    padding: 12px 25px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    border-radius: 25px;
    background-image: linear-gradient(#FBA24F,#FF1E1E);
}
.orange{
    color: #df4f2f;

}

.first-section{
    display: flex;
    margin: 20px 40px;

}
.first-image{
    height: 747.23;
    width: 658.26;
}

.section-div-one{
   margin: 5%
   width: 40%;
   height: 600px;
   padding-top: 180px;
   border: 2px solid red;

}

.section-div-two{
    margin: 5%
    width: 40%;
    padding: auto;
    border: 2px solid red;
    
}
.second-section{
    display: flex;
    background-image: url(shapes/7.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-top: 100px;
    height: 500px;
    border: 2px solid red;
    
}
.about-image{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 40px;
    padding-right: 10px;
    padding-top: 50px;
    padding-bottom: 0px;
    display: flex;
    border: 2px solid red;
    
}
.about-section{
    width: 40%;
    margin-left: 2.5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 5%;
    padding: 100px 25px;
    text-align: justify;
    color: rgb(0, 0, 0);
    border: 2px solid red;
}
.contact-me-button{
    font-size: 20px;
    color: white;
    font-weight:400;
    text-decoration: none;
    padding: 12px 25px;
    font-family:Georgia, 'Times New Roman', Times, serif ;
    border-radius: 25px;
    background-image: linear-gradient(#FBA24F,#FF1E1E);
}
